.input-container {
    border-radius: 10%;
    border-style: groove;
    border-width: 5px;
    width: 20%;
    margin-left: 5%;
    margin-top: 12%;
    padding: 15px;
    background-color: rgb(112, 112, 130);
    box-shadow: 0 0 100px rgb(94, 88, 201);
    /* Shadow */
}